{% extends "base.html" %}

{% block content %}
  <h2>Lista de Secretarias</h2>
  <a href="{% url 'secretaria_create' %}">Crear nueva Secretaria</a>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Horario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for secretaria in object_list %}
        <tr>
          <td>{{ secretaria.usuario.nombre }} {{ secretaria.usuario.apellido }}</td>
          <td>{{ secretaria.horario }}</td>
          <td>
            <a href="{% url 'secretaria_update' secretaria.pk %}">Editar</a>
            <a href="{% url 'secretaria_delete' secretaria.pk %}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
