{% extends "base.html" %}

{% block content %}
  <h2 class="mb-4">Lista de Secretarias</h2>
  <a href="{% url 'secretaria_create' %}" class="btn btn-primary mb-3">Crear nueva Secretaria</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Horario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for secretaria in object_list %}
        <tr>
          <td>{{ secretaria.usuario.apellido }}</td>
          <td>{{ secretaria.usuario.nombre }}</td>
          <td>{{ secretaria.horario }}</td>
          <td>
            <a href="{% url 'secretaria_update' secretaria.pk %}" class="btn btn-primary btn-sm">Editar</a>
            <a href="{% url 'secretaria_delete' secretaria.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
