{% extends 'base.html' %}

{% block content %}
  <div class="d-flex flex-column align-items-center">
    <h2 class="text-center mb-4">Lista de Pacientes</h2>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Obra Social</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for paciente in pacientes %}
          <tr>
            <td>{{ paciente.usuario.apellido }}</td>
            <td>{{ paciente.usuario.nombre }}</td>
            <td>{{ paciente.direccion }}</td>
            <td>
              {% for obra_social in paciente.obras_sociales.all %}
                {{ obra_social.nombre }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'paciente_update' paciente.pk %}" class="btn btn-secondary btn-sm">Editar</a>
              <a href="{% url 'paciente_delete' paciente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex justify-content-end mb-3 w-100">
      <a href="{% url 'paciente_create' %}" class="btn btn-primary">Agregar Paciente</a>
    </div>
  </div>
{% endblock %}